USE [messianicos]
GO
/****** Object:  Table [dbo].[Tecnicas]    Script Date: 28/10/2023 02:19:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tecnicas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParteDelCuerpo] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tecnicas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
